html, body {
   /* is this necessary ??
       padding:  0;  */
    margin:  0; 
    background:  white;
}

html * {
    border:  1px solid black; !important
}

/* $STRUCTURE */

/*  Why is this necessary? Or is it?
.wrapper {
    margin: 0;
    padding:  0;
}
*/
/* .. and why is THIS here? 
    .header {
      /*  position: relative; 
    }
*/
        .starOver {
            margin-left:  15px;
            display: inline;
        }

    .content {
        padding:  0;
        border:  0;
        position:  relative;
    }

        #cols {
            position:  absolute;
            width:  100%;
        }

            .col-student {
                float:  left;
                width:  18%;
                padding: 0 0 0 5px;
                margin: 0;
                border-left:  1px solid black;
            }
                .col-header {
                    background: orange;
                    display: inline;
                }

                    /*
                    .barBG {
                        position: absolute;
                        height:  40px;
                        width:  100%;
                        z-index: 9;
                    }
                    */

                    .alignleft {
                        float: left;
                        width:  80%;
                    }
                    .alignright {
                        float:  right;
                        width:  20%;
                    }

                .details {
                    clear:  both;
                }
                    .calcBox {
                        width: 90%;
                        height:  200px;
                        border-bottom: 1px solid orange;
                        margin-top:  5px;
                        padding-left:  12px;
                    }
                    .calcButton li {
                        display: inline;
                    }
                    ul {
                        list-style-type: none;
                        margin: 10px 0 0 0;
                        padding:  0;
                        line-height: 25px;
                    }

            .col-family {
                float: right;
                width:  20%;
            }


/* $METRO */
 
body, h1, h2, h3, h4, h5, p {
    font-family: 'Segoe UI';
}

h1, h2, h3 {
    font-weight: 200;
}

a {
    font-size: 15px;
    color:  orange;
    text-decoration: none;
    font-weight: 800;
}
a:hover {
    background: orange;
    color: white;
}

h1 {
    font-size:  46px;
    display: inline;
}

h2 {
    font-size: 26px;
    color: white;
    letter-spacing: -1px;
    height: 40px;
    cursor: pointer;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    color:  #a2a2a2;
}

h5 {
    font-size: 18px;
    font-weight: 800;
    color:  #989898;
}